* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('engleeshiBackground.jpg') no-repeat center center/cover;
}

.container {
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.arabic-text {
    font-family: 'Cairo', sans-serif;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.store-button {
    height: 60px; /* Fixed height to match both buttons */
    width: auto; /* Allows width to adjust based on aspect ratio */
    transition: opacity 0.3s;
}

@media (max-width: 60px) {
    .logo {
        width: 120px;
    }

    .arabic-text {
        font-size: 20px;
    }

    .button-container {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .store-button {
        height: 50px; /* Adjusted height for mobile */
        width: auto;
    }
}