* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('engleeshiBackground.jpg') no-repeat center center/cover;
}

.container {
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.arabic-text {
    font-family: 'Cairo', sans-serif;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Ensure vertical centering */
    gap: 20px;
}

.store-button {
    width: 180px; /* Increased from 150px for desktop */
    transition: opacity 0.3s;
}

.store-button.disabled {
    opacity: 0.5;
    pointer-events: none; /* Makes the button non-clickable */
}

@media (max-width: 600px) {
    .logo {
        width: 120px;
    }

    .arabic-text {
        font-size: 20px;
    }

    .button-container {
        flex-direction: column;
        gap: 15px;
        align-items: center; /* Ensure horizontal centering on mobile */
    }

    .store-button {
        width: 150px; /* Increased from 120px for mobile */
    }
}